::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

html {
    width: 100%;
    height: 100%;
    --footer-height: 58px;
}

body {
    position: relative;
    min-height: 100%;
}

a[disabled] {
    pointer-events: none;
}

.clear::before {
    content: '';
    display: table;
}

.clear::after {
    content: '';
    display: table;
    clear: both;
}

.site-header,.site-header-actions .select-menu {
    position: relative
}

.site-container::before {
    content: '';
    display: table;
}

.site-container::after {
    content: '';
    display: table;
    clear: both;
}

.markdown-body,body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden
}

@font-face {
    font-family:octicons;src:font-url(../fonts/octicons.eot?#iefix) format("embedded-opentype"),font-url(../fonts/octicons.woff) format("woff"),font-url(../fonts/octicons.ttf) format("truetype"),font-url(../fonts/octicons.svg#octicons) format("svg");font-weight:400;font-style:normal
}

.pagination {
    padding: 20px 0
}

.pagination a.active {
    background: #337ab7;
    border-color: #337ab7;
    z-index: 2;
    color: #fff;
    cursor: default
}

.pagination .btn {
    line-height: 20px;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.mr-1, .mx-1 {
    margin-right: 0.25rem!important;
}

.mr-auto {
    margin-right: auto!important;
}

.pin {
    background: #f5f5f5;
    border-radius: 5px;
    line-height: 1.4rem;
    height: 1.3rem;
    margin-top: 3px;
    padding-left: 1px;
    padding-right: 6px;
}

.text-align-right {
    text-align: right;
}

.text-center {
    text-align: center
}

.btn-inline .btn {
    margin: 5px
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 18px 0;
    margin-bottom: 20px;
    background: #fff;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 0px 5px 1px #ddd;
    -webkit-box-shadow: 0px 0px 5px 1px #ddd;
}

.site-header .account-switcher {
    display: inline-block;
    margin-top: -2px;
    margin-bottom: -6px
}

.site-header-actions .select-menu:after,.site-header-actions .select-menu:before {
    display: table;
    content: ""
}

.site-header ul.site-header-actions {
    z-index: 21;
    float: right;
    margin: 0
}

.site-header ul.site-header-actions .feed-icon {
    margin-top: 5px
}

.site-header .path-divider {
    margin: 0 .25em
}

.site-header .site-header-oprate .octicon {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    vertical-align: top;
}

.markdown-body dl dt,.markdown-body table th,.pl-mb,.pl-mdr,.pl-mh,.pl-mh .pl-en,.pl-ms,.pl-sr .pl-cce,.site-header h1 strong {
    font-weight: 700
}

.site-header .site-header-oprate a {
    white-space: nowrap;
    color: #333
}

.site-header .site-header-oprate a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.site-header .site-header-oprate .avatar {
    margin-top: -2px;
    margin-right: 9px;
    margin-bottom: -2px
}

.site-header-actions>li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 11px;
    color: #333;
    list-style-type: none
}

.site-header-actions>li:last-child {
    margin-right: 0
}

.site-header-actions .octicon-mute {
    color: #c00
}

.site-header-actions .select-menu:after {
    clear: both
}

.site-header-actions .select-menu-modal-holder {
    top: 100%
}

.site-header-nav {
    float: left;
    margin-bottom: -20px
}

.site-header-nav-item {
    display: inline-block;
    padding: 2px 10px 18px;
    margin-right: 1.25rem;
    font-size: 1rem;
    color: #777
}

.site-header-oprate {
    float: right;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.site-footer:after,.site-footer:before {
    display: table;
    content: ""
}

.site-header-nav-item:hover {
    color: #333;
    text-decoration: none
}

.site-header-nav-item.selected {
    color: #1984ff;
    padding: 2px 10px 16px;
    border-bottom: 2px solid #1984ff;
}

.site-header-nav-item+.btn-outline {
    margin-top: -1px;
    margin-left: 20px
}

.footer:after,
.footer:before,
.contact:after,
.contact:before {
    display: table;
    content: ""
}

.site-footer .footer {
    position: relative;
    margin: 0 auto;
    padding: 0 20px 15px;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    max-width: 1020px;
}

.site-footer .contact {
    margin: 0 auto;
    padding: 10px 20px;
    line-height: 1.5;
    max-width: 1020px;
}

.site-footer .contact .left a {
    text-decoration: none;
    margin-right: 8px;
}

.site-footer .contact .toTop {
    float: right;
    color: #fff;
    font-size: 0.75rem;
}

.site-footer .copyright {
    padding-right: 20px
}

.site-footer:after,.footer:after,.contact:after {
    clear: both
}

.site-footer .octicon-mark-github {
    height: 24px;
    width: 24px;
    font-size: 24px;
    color: #ccc
}

.site-footer .octicon-mark-github:hover {
    color: #bbb
}

.site-footer .octicon-rss {
    color: orange;
    font-size: 24px;
}

.site-footer-links {
    margin: 0;
    list-style: none
}

.site-footer-links .rss::before {
    content: '';
    width: 10px;
    height: 15px;
    position: absolute;
    right: 40px;
    background: #000;
}

.site-footer-links li {
    display: inline-block;
    line-height: 16px
}

.site-footer-links li::after {
    content: '•';
    margin: 0 10px;
}

.site-footer-links li a{
    color: hsla(0,0%,100%,.8)
}

.site-search {
    position: relative;
    margin: -4px 0px;
}

.site-search .octicon-search {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
    z-index: 1;
}

.site-search input {
    width: 163px;
    opacity: 1;
    transition: all 0.5s;
}
.site-search ul {
    position: absolute;
    width: 100%;
    font-size: 14px;
    list-style-type: none;
    background: #fff;
    box-shadow: 2px 2px 8px 0px #ddd;
    border-radius: 0px 0px 5px 5px;
}

.site-search ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 10px;
}

.site-search ul p {
    text-align: center;
    color: #aaa;
}

.sticky-nav {
    position: sticky;
    top: 80px;
}

.post-tail-wrapper {
    margin-top: 6rem;
    margin-bottom: 1rem;
    border-bottom: 1px double #f3f3f3;
    font-size: 0.85rem;
}

.post-meta {
    font-size: 0.85rem;
    word-spacing: 1px;
    color: #6c757d;
}

.post-tail-wrapper .post-meta a:not(:hover) {
    border-bottom: 1px solid #dee2e6;
}

.share {
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: right;
    color: #6c757d;
}

.license-wrapper {
    color: #6c757d;
}

.license-wrapper>a {
    color: #34343c;
}

.markdown-body {
    overflow: hidden
}

.markdown-body h1,.markdown-body h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee
}

.markdown-body>:first-child {
    margin-top: 0!important
}

.markdown-body>:last-child {
    margin-bottom: 0!important
}

.markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none
}

.markdown-body .absent {
    color: #c00
}

.markdown-body .anchor {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px
}

.markdown-body .anchor:focus {
    outline: 0
}

.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.markdown-body h1 .octicon-link,.markdown-body h2 .octicon-link,.markdown-body h3 .octicon-link,.markdown-body h4 .octicon-link,.markdown-body h5 .octicon-link,.markdown-body h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle
}

.markdown-body h1:hover .anchor,.markdown-body h2:hover .anchor,.markdown-body h3:hover .anchor,.markdown-body h4:hover .anchor,.markdown-body h5:hover .anchor,.markdown-body h6:hover .anchor {
    padding-left: 8px;
    margin-left: -30px;
    text-decoration: none
}

.markdown-body h1:hover .anchor .octicon-link,.markdown-body h2:hover .anchor .octicon-link,.markdown-body h3:hover .anchor .octicon-link,.markdown-body h4:hover .anchor .octicon-link,.markdown-body h5:hover .anchor .octicon-link,.markdown-body h6:hover .anchor .octicon-link {
    display: inline-block
}

.markdown-body h1 code,.markdown-body h1 tt,.markdown-body h2 code,.markdown-body h2 tt,.markdown-body h3 code,.markdown-body h3 tt,.markdown-body h4 code,.markdown-body h4 tt,.markdown-body h5 code,.markdown-body h5 tt,.markdown-body h6 code,.markdown-body h6 tt {
    font-size: inherit
}

.markdown-body h1 {
    font-size: 2em;
    line-height: 1.2
}

.markdown-body h1 .anchor {
    line-height: 1
}

.markdown-body h2 {
    font-size: 1.5em;
    line-height: 1.225
}

.markdown-body h2 .anchor {
    line-height: 1
}

.markdown-body h3 {
    font-size: 1.25em;
    line-height: 1.43
}

.markdown-body h3 .anchor,.markdown-body h4 .anchor {
    line-height: 1.2
}

.markdown-body h4 {
    font-size: 1em
}

.markdown-body h5 .anchor,.markdown-body h6 .anchor {
    line-height: 1.1
}

.markdown-body h5 {
    font-size: 0.875em
}

.markdown-body h6 {
    font-size: 0.85em;
    color: #777
}

.markdown-body blockquote,.markdown-body dl,.markdown-body ol,.markdown-body p,.markdown-body pre,.markdown-body table,.markdown-body ul {
    margin-top: 0;
    margin-bottom: 16px
}

.markdown-body hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0
}

.markdown-body ol,.markdown-body ul {
    padding-left: 2em
}

.markdown-body ol.no-list,.markdown-body ul.no-list {
    padding: 0;
    list-style-type: none
}

.markdown-body ol ol,.markdown-body ol ul,.markdown-body ul ol,.markdown-body ul ul {
    margin-top: 0;
    margin-bottom: 0
}

.markdown-body li>p {
    margin-top: 16px
}

.markdown-body dl {
    padding: 0
}

.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic
}

.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}

.markdown-body blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
}

.markdown-body blockquote>:first-child {
    margin-top: 0
}

.markdown-body blockquote>:last-child {
    margin-bottom: 0
}

.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
}

.markdown-body table td,.markdown-body table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}

.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}

.markdown-body table tr:nth-child(2n) {
    background-color: #f8f8f8
}

.markdown-body img {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.markdown-body .emoji {
    max-width: none
}

.markdown-body span.frame {
    display: block;
    overflow: hidden
}

.markdown-body span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #ddd
}

.markdown-body span.frame span img {
    display: block;
    float: left
}

.markdown-body span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #333
}

.markdown-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center
}

.markdown-body span.align-center span img {
    margin: 0 auto;
    text-align: center
}

.markdown-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right
}

.markdown-body span.align-right span img {
    margin: 0;
    text-align: right
}

.markdown-body span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden
}

.markdown-body span.float-left span {
    margin: 13px 0 0
}

.markdown-body span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden
}

.markdown-body span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

.markdown-body code,.markdown-body tt {
    padding: .2em 0;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,.04);
    border-radius: 6px;
}

.markdown-body code:after,.markdown-body code:before,.markdown-body tt:after,.markdown-body tt:before {
    letter-spacing: -.2em;
    content: " "
}

.markdown-body code br,.markdown-body tt br {
    display: none
}

.markdown-body del code {
    text-decoration: inherit
}

.markdown-body pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: 0 0;
    border: 0
}

.markdown-body .highlight {
    margin-bottom: 16px
}

.markdown-body .highlight pre,.markdown-body pre {
    padding: 2rem 1.25rem 1rem;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 6px;
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal
}

.markdown-body pre {
    word-wrap: normal
}

.markdown-body pre code,.markdown-body pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.markdown-body pre code:after,.markdown-body pre code:before,.markdown-body pre tt:after,.markdown-body pre tt:before {
    content: normal
}

.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    /* border-radius: 3px; */
    -webkit-box-shadow: inset 0 -1px 0 #bbb;
    box-shadow: inset 0 -1px 0 #bbb
}

.markdown-body .highlight pre:after,.markdown-body pre:after {
    content: "";
    position: absolute;
    top: 9px;
    left: 12px;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fc625d;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
}

div[class*=language-] {
    position: relative;
}

div[class*=language-]:before {
    position: absolute;
    z-index: 3;
    top: 0.5rem;
    right: 1em;
    font-size: .75rem;
    color: #80c0bf;
}

div[class~=language-js]:before {
    content: "js";
}

div[class~=language-ts]:before {
    content: "ts";
}

div[class~=language-html]:before {
    content: "html";
}

div[class~=language-css]:before {
    content: "css";
}

div[class~=language-sass]:before {
    content: "sass";
}

div[class~=language-scss]:before {
    content: "scss";
}

div[class~=language-less]:before {
    content: "less";
}

div[class~=language-nginx]:before {
    content: "nginx";
}

div[class~=language-ruby]:before {
    content: "ruby";
}

div[class~=language-python]:before {
    content: "python";
}

div[class~=language-swift]:before {
    content: "swift";
}

div[class~=language-java]:before {
    content: "java";
}


.pl-c {
    color: #969896
}

.pl-c1,.pl-s .pl-v {
    color: #0086b3
}

.pl-e,.pl-en {
    color: #795da3
}

.pl-s .pl-s1,.pl-smi {
    color: #333
}

.pl-ent {
    color: #63a35c
}

.pl-k {
    color: #a71d5d
}

.pl-pds,.pl-s,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,.pl-sr .pl-sre {
    color: #183691
}

.pl-v {
    color: #ed6a43
}

.pl-id {
    color: #b52a1d
}

.pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8
}

.pl-sr .pl-cce {
    color: #63a35c
}

.pl-ml {
    color: #693a17
}

.pl-mh,.pl-mh .pl-en,.pl-ms {
    color: #1d3e81
}

.pl-mq {
    color: teal
}

.pl-mi {
    color: #333;
    font-style: italic
}

.pl-mb {
    color: #333
}

.pl-md {
    background-color: #ffecec;
    color: #bd2c00
}

.pl-mi1 {
    background-color: #eaffea;
    color: #55a532
}

.pl-mdr {
    color: #795da3
}

.pl-mo {
    color: #1d3e81
}

pre {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

.progress-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    z-index: 1000;
    background-color: #0A74DA;
}

.tools-wrapper {
    position: fixed;
    right: 1em;
    bottom: 7.4375em;
    z-index: 100000;
    width: 2.5em;
}

.tools-wrapper:hover {
    box-shadow: 0px 2px 5px 0px #e3e3e3;
}

.tools-wrapper a {
    color: #999;
    text-align: center;
    margin-bottom: -1px;
    background: rgba(255, 255, 255, 32);
}

.tools-wrapper span.octicon {
    font-size: 1.5em;
}

.tools-wrapper .gotop {
    display: none;
    position: relative;
    height: 2.5rem;
    border-radius: 0.25rem;
}

.tools-wrapper .gotop .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 26px;
    height: 26px;
    fill: #3178c6;
}

.top-most-flag {
  color: red;
}

a.footnote:hover {
    border-bottom: none
}

a.footnote::before {
    content: "[";
    padding: 0 2px
}

a.footnote::after {
    content: "]";
    padding: 0 2px
}

div.footnotes>ol {
    padding-left: 1.5rem;
    font-size: 0.9rem
}

div.footnotes>ol p {
    margin-bottom: 0.5rem
}

div.footnotes::before {
    content: "";
    display: block;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #ccc;
    width: 20%
}

img + em {
  color: grey;
}

.content-header-ad { display:inline-block; width: 320px; height: 50px; }
@media (max-width: 400px) { .content-header-ad { display: none; } }
@media (min-width:500px) { .content-header-ad { width: 468px; height: 60px; } }
@media (min-width:800px) { .content-header-ad { width: 728px; height: 90px; } }
